.head_bg{
    background-color: #EFFAF6;
    .blog_ul {
        display: flex;
        align-items: center;
        list-style: none;
        .blog_li {
            text-decoration: none;
            margin-right: 10px;
            font-size: 18px;
            color: #000;
            font-weight: 100;
        }
    }
}

