.card-price{
    font-weight: bold;
    color: #F18E7D;
    font-size: 20px;
}

.sec4-bg {
    padding: 8px 12px;
    font-family: sans-serif;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    background-color: #e9e9e9;   
}