.blog_details{
    font-size: 15px;
    text-decoration: none;
    margin-right: 10px;
    color: #1d2530;
    font-weight: 100;
    .blog_detaol_icon{
        font-size: 10px;
    }
}

.bg-dt {
        padding: 8px 12px;
        background-color: #e9e9e9;
        display: inline-block;
        align-content: center;
        font-family: sans-serif;
        border-radius: 5px;
        margin-bottom: 30px; 
        font-weight: bold;
}

.sp_color {
    color: #9199a6;
    font-weight: 700;
}