.productdetail-btn {
    border: none;
    width: 45px;
    border-radius: 5px;
    padding: 5px;
}

.productdetail-btn:hover {
    border: none;
    width: 45px;
    border-radius: 5px;
    padding: 5px;
    background-color: #F18E7D;
    color: #fff;
    transform: translateY(-5px);
    transition: 1s;
}