.add-btn {
    background-color: #F18E7D;
    border: #F18E7D;
}

.add-btn:hover {
    background-color: #cf7c6d;
}


.edit-btn {
    background-color: #F18E7D;
    border: none;
}

.edit-btn:hover {
    background-color: #cf7c6d;
}